.note-show-frame {
  width: calc(100% - 587px);
}

header.note-nav {
  display: flex;
  justify-content: space-between;
  height: 32px;
  padding: 12px 8px 8px 15px;
  align-items: center;
}

.note-nav-left {
  display: flex;
  align-items: center;
}

.note-nav-left > p {
  font-size: 13px;
}

.note-nav-ellipsis {
  transform: rotate(90deg);
  width: 24px;
  height: 32px;
}

section.dropdown-menu.notes-action-position {
  right: 10px;
  width: 211px;
  text-align: left;
  overflow: hidden;
  z-index: 2;
}

section.dropdown-menu.notes-action-position > p {
  color: black;
}
