@font-face {
  font-family: "hyliaserifbeta-regular";
  src: font-url("hyliaserifbeta-regular-webfont.woff");
  src: font-url("hyliaserifbeta-regular-webfont?#iefix") format("woff");
}

@font-face {
  font-family: "calamity-regular";
  src: font-url("calamity-regular-webfont.woff");
  src: font-url("calamity-regular-webfont?#iefix") format("woff");
}

h2.project-name {
  font-family: "hyliaserifbeta-regular";
  font-size: 36px;
}
