
@font-face {
  font-family:'hyliaserifbeta-regular';
  src:font-url('hyliaserifbeta-regular-webfont.woff');
  src:font-url('hyliaserifbeta-regular-webfont?#iefix') format('woff');

} 

p.project-name {
  font-family: 'hyliaserifbeta-regular';
  font-size: 36px;
}