.sidebar-frame > * {
  color: #cccccc;
}

.sidebar-frame ul > li {
  padding: 0 8px 0 18px;
  height: 32px;
  display: flex;
  align-items: center;
}

.sidebar-header {
  padding: 0 8px 0 18px;
  height: 56px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar-header p {
  margin-left: 10px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
}

nav.sidebar-frame {
  display: flex;
  flex-direction: column;
  min-width: 241px;
  background-color: #1a1a1a;
  height: auto;
}

ul.sidebar-links {
  display: flex;
  flex-direction: column;
}

button.create-new-note {
  display: flex;
  margin: 13px 10px;
  height: 36px;
  padding: 4px;
  border: 0;
  background: #68f8f9;
  border-radius: 20px;
  align-items: center;
  color: black;
  width: 215px;
  margin: 0 auto;
  margin-bottom: 10px; /* double check px */
}

button.create-new-note p {
  font-size: 15px;
}

.avatar {
  width: 28px;
  height: 28px;
  /* margin: 10px; */

  border-radius: 50%;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

ul.sidebar-links > li img {
  width: 24px;
  height: 32px;
}

ul.sidebar-links li *:last-child {
  margin: 3px;
  font-size: 15px;
}

/* .notebook-dropdown p {
  margin: 3px;
} */

ul.sidebar-links li a {
  color: #cccccc;
  text-decoration: none;
}

.filled-side-carat {
  position: absolute;
  max-height: 12px;
  max-width: 8px;
  left: 9px; /* do not change this! */
}

ul.notebook-dropdown > li img {
  margin-left: 26px;
}

ul.sidebar-links li:hover {
  background-color: #333333;
}

.hidden-dropdown {
  display: none;
}

/* css animation for side carat */
.filled-down-carat {
  transform: rotate(90deg);
}

section.dropdown-menu {
  position: absolute;
  background-color: white;
  /* top: 58px; */
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  padding: 12px 0;
  border-radius: 3px;
  width: 317px;
  min-height: auto;
  overflow-y: scroll;
}

.sidebar-position {
  top: 58px;
}

.account-header {
  display: flex;
  align-items: center;
  padding: 3px;
}
section.dropdown-menu > p {
  padding: 6px 20px;
  font-size: 12px;

  color: #a6a6a6;
  font-weight: bold;
}

section.dropdown-menu > * {
  padding: 6px 20px;
}

section.dropdown-menu > div.header-button {
  border: 0;
  background: inherit;
  font-size: 14px;

  color: black;

  cursor: pointer;
}

section.dropdown-menu > button.header-button:hover {
  background-color: #cccccc;
}

.grey-line {
  height: 1px;
  border-top: 1px solid #ccc;
  margin: 8px 0;
  padding: 0;
}
/* hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} */

p.sidebar-header-email.dropdown-email {
  color: black;
  font-weight: bolder;
}
p.sidebar-account-title {
  margin: 0;
}
