p{
    color: white;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 30;
  }
  

.header-icon-logo {
    display: flex;
    align-items: center;
}

.header-icon-logo p, nav.header-links-auth, nav.header-links-auth li a{
    color: white;
}


.header-splash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 77.5px;
    height: 130px;
    background-color: black
}

div.header-icon-logo > p.project-name {
    margin-left: 10px;
}

nav.header-links-auth {
    list-style: none;
    display: flex;
    align-items: center;
}

nav.header-links-auth li {
    margin: 0 5px;
}

.header-links-auth li  a {
    text-decoration: none;
    color: black;
}


.li-signup {
    border: 2px solid #68f8f9;
    border-radius: 3px;
    height: 40px;
    min-width: 120px;
    font-size: 17px;
    letter-spacing: .5px;
    text-align: center;
  
    display: inline-flex;
    justify-content: center;
    align-items: center;

   
}

.li-signup:hover{
    
    box-shadow: 0 0 6px rgba(35, 173, 255, 1);
    text-shadow: 0 0 6px rgba(35, 173, 255, 1);
    
}

.li-signup .signup-a{
    color: #68f8f9;
}

.content-container {
    display: flex;
    /* margin: 0 77.5px;
    padding: 60px 0; */
    padding: 60px 77.5px;
}

/* .content-container div p {
    color: grey;
} */

.content-frame img{
    max-width: 100%; 
    height:auto; 
}

section.content-frame{
    position: relative;
    overflow: hidden;
}

.content-container {
    position: absolute; 
    left: 0; 
    top: 0; 

}