ul.subcard-rune-images {
    display: flex;
    justify-content: center;
}

ul.subcards {
    display: flex;
    justify-content: space-evenly;
}

section.card-one {

    padding-top: 120px;
}

ul.subcards li {

    font-size: 24px;
}

h3.subcard-one-tagline{
    /* margin: 0 auto;  */

    font-size: 72px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

ul.subcards li {
    padding: 0 40px;
}

ul.subcards {
    margin-bottom: 100px;
}

.subcard-pan{
    display:flex;
    justify-content: center;
}

.subcard-pan img{
    max-width: 25%;
}



footer {
    display: flex;
    align-items: center;
    padding: 0 77.5px;
    height: 130px;

    justify-content: space-between;
}

.footer-header {
    display: flex;
    align-items: center;
}

.social-links{
    display: flex; 
    align-items: center;
    
}

.social-links li{
    padding: 5px; 
    
}